* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: rgb(224,98,226);
}
:root {
    --card-width: 25%;
}

body {
    background-color:rgb(52,60,68);
}

h1,
h2,
h3 {
    font-weight:bold;
}

h1 {
    font-size: 2rem;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

header p {
    text-align: center;
    color: white;
}

.grid-parent {
    display: flex;
    flex-flow: row wrap;
}

.card {
    display: inline-block;
    margin: 1%;
    padding: 20px;
    border: 1px dashed white;
    position: relative;
    width: var(--card-width);
}

.card h2 {
    position: absolute;
    display: block;
    left: 5%;
    top: -42px;
    padding: 0.5%;
    width: 89%;
    background-color: rgb(52,60,68);
    border: 1px solid white;
    border-radius: 5px;
}

pre {
    display:block;
    background-image: linear-gradient(
        rgba(232, 102, 236, 0.3) 0%,
        rgba(232, 102, 236, 0.6) 100%
    );
    font-family:monospace;
    color:white;
    padding: 1rem;
    border-radius: 5px;
}